html
    head
        title= title
    body
        h1= "Login to use PIPS2"
        h3= emailMessage
        input#email(type="email", name="usgsEmail", placeholder="someone@usgs.gov", pattern=".+(@usgs.gov|@contractor.usgs.gov)")
        input#passcode(type="password", name="usgsPassword", placeholder="***********")
        br
        input(type="button", value="Sign in", role="submit")