doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/pips2.css')
    link(rel='stylesheet', href='/stylesheets/dynamicstyles.css')
    link(rel="shortcut icon", href="/images/favpiecon.svg", type="image/x-icon")
    
    block pagescript
      
  body
    block content
    block footer
