doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/pips2.css')
    link(rel='stylesheet', href='/stylesheets/dynamicstyles.css')
    link(rel="shortcut icon", href="/images/favpiecon.svg", type="image/x-icon")
    link(rel="apple-touch-icon" href="touch-icon-iphone.png")
    link(rel="apple-touch-icon" sizes="76x76" href="touch-icon-ipad.png")
    link(rel="apple-touch-icon" sizes="120x120" href="touch-icon-iphone-retina.png")
    link(rel="apple-touch-icon" sizes="152x152" href="touch-icon-ipad-retina.png")
    
    block pagescript
      
  body
    block content
    block footer
