doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/pips2.css')
    link(rel='stylesheet', href='/stylesheets/dynamicstyles.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js", type="text/javascript")
    
    block pagescript
      
  body
    block content
    block footer
