/* Very Large Screen screens */
@media only screen and (min-width:1900px) {

  .titleLogo {
      height: 125px;
  }

  .pips2header {
      min-height: 125px;   
  }
  
  .windowoptionsbar>h4{
      font-size: 18px;
  }

  .windowoptionsbar>button {
      font-size: 15px;
  }

  .dividerline {
      font-size: 22px;
  }
  
  .filetoolsbox>label {
      font-size: 22px;
  }

  .toolscontainer {
      max-width: 300px;
  }

  .toolboxcontainer {
      min-width: 300px;
  }

  .edittoolsbox>label, .edittoolsbox>div>label {
      font-size: 22px;
  }

  .footerbuttongroup>a {
      font-size: 19px;
  }

  .rightfooter {
      font-size: 19px;
  }

  .captiontoolsbox>label {
      font-size: 22px;
  }

  .imagetoolsbox>label {
      font-size: 22px;
  }

  .editbox {
      min-width: 1800px;
      margin: 0 auto 0 0;
  }

  .mainfooter {
      margin: auto 0 0 0;
      padding: 0;
      height: 5%;
  }

  .windowsidebar {
      min-width: 36px;
      max-width: 36px;
      max-height: none;
      padding: 0;
  }

  .windowsidebar>button {
      font-size: 15px;
  }

  .toolboxcontainer.closed {
      width: 36px !important;
      min-width: 0% !important;
  }    
}

/* Normal screens */
@media only screen and (min-width: 900px)
{
    .maincontent {
        display: flex;
    }

    .windowoptionsbar>h4{
        font-size: 13px;
    }

    .windowoptionsbar>button {
        font-size: 11px;
    }

    .dividerline {
        font-size: 14px;
    }
    
    .filetoolsbox>label {
        font-size: 13px;
    }

    .editbox {
        margin: 0 auto;
    }

    .titleLogo {
        height: 100px;
    }
}

/* Small screens */
@media only screen and (max-width:900px) {

  html {
      max-height: none;
      height: fit-content;
  }

  .titleLogo {
      height: 75px;
  }

  .maincontent {
      display: block;
      overflow-y: scroll;
  }


  .windowoptionsbar>h4{
      font-size: 11px;
  }

  .windowoptionsbar>button {
      font-size: 9px;
  }

  .dividerline {
      font-size: 12px;
  }
  
  .filetoolsbox>label {
      font-size: 11px;
  }

  .toolboxcontainer {
      width: 100%;
      height: auto;
  }

  .toolscontainer {
      overflow-y: scroll;
      margin: auto auto;
      max-width: none;
      text-align: center;
      height: 300px;
  }

  .editbox {
      width: 100%;
      max-width: none;
      margin: auto auto;
      max-height: none;
      height: auto;
  }

  .mainfooter {
      height: 4%;
      position: relative;;
      margin: auto 0 0 0;
  }

  .leftfooter {
      font-size: 12px;
  }

  .rightfooter {
      font-size: 10px;
  }
}