/* Normal screens */
@media only screen and (min-width: 900px)
{
    :root {
        /* TODO: Copy the 4k stuff here but change input */ 
    }
}

/* Pretty Large Screen */
@media only screen and (min-width:1500px) {
    :root {
        --large-font: 22px;
        --medium-font: 20px;
        --sm-medium-font: 18px;
        --small-font: 15px;
        --xsmall-font: 12px;

        --usgs-image-height: 50px;
        --usgs-image-width: 200px;

        --max-image-width: 100px;

        --max-title-width: 300px;
        --max-title-height: 100px;

        --toolbox-min-height: 0;
        --toolbox-max-height: 75px;
        --toolbox-min-width: 100%;
        --toolbox-max-width: 100px;
        --edittoolbox-max-height: 150px;

        --toolbox-minibtn-min-width: 25px;
        --toolbox-minibtn-max-width: 32px;
        --toolbox-minibtn-min-height: 20px;
        --toolbox-minibtn-max-height: 25px;

        --inner-main-content-max-height: 38em;

        --min-svg-btn: 32px;
        --max-svg-btn: 32px;

        --svg-icon-width: 30px;

        --header-height: 5%;
        --main-content-height: 71%;
        --footer-height: 6%;
    }
}

/* Native 4k+ Resolution */
@media only screen and (min-width:2500px) {
    :root {
        --large-font: 27px;
        --medium-font: 22px;
        --sm-medium-font: 20px;
        --small-font: 18px;
        --xsmall-font: 15px;

        --usgs-image-height: 75px;
        --usgs-image-width: 250px;

        --max-image-width: 125px;

        --max-title-width: 400px;
        --max-title-height: 125px;

        --toolbox-min-height: 0;
        --toolbox-max-height: 100px;
        --toolbox-min-width: 100%;
        --toolbox-max-width: 150px;
        --edittoolbox-max-height: 200px;

        --toolbox-minibtn-min-width: 25px;
        --toolbox-minibtn-max-width: 32px;
        --toolbox-minibtn-min-height: 20px;
        --toolbox-minibtn-max-height: 25px;

        --inner-main-content-max-height: 70em;

        --min-svg-btn: 32px;
        --max-svg-btn: 32px;

        --svg-icon-width: 30px;

        --header-height: 5%;
        --main-content-height: 81%;
        --footer-height: 4%;
    }
}

/* TODO: more to come */