:root {
    --main-bg-color: rgb(10, 34, 57);
    --primary-color: rgb(29, 132, 181);
    --secondary-color: rgb(137, 191, 210);
    --accent-color: rgb(18, 74, 105);
    --contrast-color: rgb(62, 149, 163);
    --hover-contrast-color: rgba(62, 149, 163, 0.846);
    --footer-button-disabled-color: rgba(27, 114, 128, 0.541);
    --disabled-button-gradient: linear-gradient(to top right,rgb(106, 106, 106), rgb(181, 181, 181));
    --bar-gradient: linear-gradient(to bottom right,rgb(237, 237, 237), rgb(156, 156, 156));
    --transition-time: 0.125s;
}
/* loading animation */
@-webkit-keyframes loading {
    from{
        -webkit-transform: rotate(0deg);
    }

    to{
        -webkit-transform: rotate(-360deg);
    }
}
@keyframes loading {
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(-360deg);
    }
}

/* html main classes */
html {
    background: var(--main-bg-color);
    overflow-x: hidden;
    overflow-y: auto;
    color: var(--contrast-color);
    padding: 0 0px;
    margin: 0;
    height: auto;
}
html.contained {
    overflow-y: hidden;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
body {
    margin: 0 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

/* Fixed Chrome Border Focus Whitespace issue*/
button {
    outline: none;
}

/* dragging cursor parts */
.selecting {
    cursor: grab;
}
.drawing {
    background: transparent;
}
.drawing:hover{
    cursor: url("/images/pencil.svg"), auto !important;
}
.marker:hover {
    cursor: grab;
}
.hand  {
    cursor: grabbing !important;
}
.outlining:hover {
    cursor: crosshair;
}
.outlining {
    cursor: crosshair;
    background: transparent;
}

/* bottom nav bar */
.linklist > a {
    color: var(--contrast-color);
    margin: auto auto;
    font-size: var(--medium-font);
}
.linklist {
    display: block;
    text-align: left;
    margin: 0 0;
}

/* main container parts for the top bar */
.leftcontainer {
    width: 33.3%;
    text-align: left;
    padding: 1.5em 0 0 1.5em;
    max-height: var(--header-height);
    min-height: var(--header-height);
}
.centercontainer {
    margin: auto auto;
    padding: .5em;
    width: auto;
    max-height: var(--header-height);
    min-height: var(--header-height);
}
.rightcontainer {
    width: 33.3%;
    text-align: right;
    padding: 1em;
    max-height: var(--header-height);
    min-height: var(--header-height);
}

/* preset the vector layer container */
.nobody {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    height: auto;
    width: 100%;
    overflow-x: hidden;
}

/* FAQ page */
.linklist > a:visited {
    color: var(--secondary-color);
}
i>b>a, i>b>a:visited {
    font-style: normal;
    text-decoration: underline;
    font-size: var(--medium-font);
    color: lightskyblue;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
i>b {
    font-size: var(--large-font);
}
.basicfaqcontent {
    display: flex;
    background-color: rgba(0,0,0,.1);
    padding: 0;
}
.answerBox {
    width: auto;
    min-width: 10em;
    margin: auto;
    height: 100%;
    vertical-align: middle;
}
.descBox {
    width: 65%;
    margin: 0 0 0 auto;
    background: rgba(0, 0, 0, 0.1);
    text-align: left;
    padding: 5px 30px;
    font-size: var(--large-font);
}

/* used for the Shift Functionality indicator */
.draggableDot {
    fill: rgb(230, 95, 95);
}
.draggableDot:hover {
    cursor: move;
}
.shifting:hover {
    cursor: move !important;
}

/* help page styles */
.UIIntro {
    width: 100%;
    height: auto;
}
.UIGif {
    width: var(--gif-width);
    height: auto;
}
pre.UIHolder {
    text-align: center;
    padding: 0;
    margin: auto auto;
}
.pilotstepsimage {
    width: 80%;
    height: auto;
    margin: 0 10vw 0 10vw;
    text-align: center;
}
.pilotstepsimage-sm {
 width: 40% !important;
}
.inlayedlink {
    color: var(--secondary-color);
}
.inlayedlink:hover {
    color: var(--primary-color);
}
.importantnotecontent{
    background-color: rgba(0,0,0,.1);
    padding: 1em;
    font-size: var(--large-font);
}
.importantnotecontent>.importantnotecontent {
    padding: .25em;
}
h4.importantnote-main {
    padding: 0;
    margin-top: 0;
}
h5.importantnote-desc {
    padding: 0;
    margin-bottom: 0;
}
.descBox2 {
    width: 90%;
    margin: 0 auto 0 auto;
    background: rgba(0, 0, 0, 0.1);
    text-align: left;
    padding: 5px 30px;
    font-size: var(--large-font);
}
.innerpageheader {
    margin: 0 auto;
    text-align: center;
}
.changebox {
    width: 100%;
    margin: 0 auto auto auto;
    overflow-y: visible;
}
.mainaboutbox {
    text-align: center;
    margin: auto auto;
    padding: 10px;
    height: auto;
    text-align: center;
    background: var(--accent-color);
    color: var(--primary-color);
    font-size: var(--medium-font);
    width: 70%;
    overflow-y: auto;
}

/* general help / about styles */
img#usgsNavIcon:hover {
    cursor: pointer;
}
.gdalimage, .headerimage, .faqimage{
    width: var(--max-header-image-width);
    height: auto;
    max-height: var(--max-title-height);
    margin: 0 .5em;
}
.basicpageheader {
    text-align: left;
    width: 100%;
    font-weight: bold;
    font-size: x-large;
    margin: 5px 10px;
}
.basicpagecontent {
    background-color: rgba(0,0,0,.1);
    padding: 0;
    font-size: var(--large-font);
    margin: auto auto;
}
.basicpagecontent > pre {
    padding: 10px 20px;
    font-size: var(--medium-font);
    max-width: 1200px;
    background-color: rgba(255, 255, 255, 0.1);
    margin: auto auto;
    text-align: left;
    height: auto;
}
.basicpagecontent > pre > pre {
    padding: 10px 5px;
    max-width: 1000px;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 10px 20px;
    text-align: left;
    height: auto;
}
.basicpagecontent > pre > img, .basicpagecontent > pre > pre > img {
    margin: 0 auto 0 auto;
    text-align: left;
}
.basicpagecontent > img {
    text-align: center !important;
}
.navbar {
    display: flex;
    width: 100%;
    text-align: center;
    color: var(--secondary-color);
}
.navbar > h3:hover {
    color: var(--contrast-color);
    cursor: default;
}
.navbar > h3.disabled {
    color: var(--main-bg-color);
    cursor: default;
}
.navbar > h3 {
    font: 20px;
    margin: 0 0 0 15px;
    text-decoration: underline;
    padding: 10px;
}
pre > h3 {
    font-size: var(--medium-font);
}
pre > i > b {
    word-wrap: break-word;
}
.maincontent {
    display: flex; 
    height: auto;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: left;
}

/* used for the dragging part of the layer */
.selectedBox {
    border: 7px solid var(--main-bg-color);
    pointer-events: none;
    transition: all .5ms linear;
}
.selectedBox > div {
    cursor: grabbing !important;
}

/* export box */
.column {
    display: flex;
}
.column > label {
    font-size: var(--small-font);
}
.column > input[type="checkbox"].disabled {
    pointer-events: none;
}
.exporttitlebox {
    text-align: center;
    color: black;
    border-bottom: 2px solid black;
    height: 10%;
    padding: 0px;
}
.exportbuttonholder {
    min-height: 25px;
    display: flex;
    height: auto;
    margin: auto 0 0 0;
    padding: auto auto 10px auto;
    bottom: 0;
}
.exportinputholder {
    margin: 0 auto;
    display: flex;
    height: 80%;
    width: 95%;
    padding: 0 10px 0 0;
}
.exportpanelbtn {
    border-radius: 5px 5px;
    height: auto;
    font-size: var(--small-font);
    background: var(--bar-gradient);
}
.exportinputholder>form{
    display: flex;
    width: 100%;
    height: auto;
}
.forminputcheckboxholder {
    width: auto;
    margin: .5em 0 0 2em;
    display: block;
    color: black;
}
.forminputbox {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.forminputbox > input[name="exportfilename"] {
    width: 100%;
    height: auto;
    font-size: var(--sm-medium-font);
    border-radius: 3px 3px;
}
.invalid {
    border: 2px dotted red;
}
.formlabelbox {
    width: 100%;
    margin: 0 auto 0 0;
    display: block;
    height: 100%;
    padding: 3px 3px;
    text-align: left;
}
.formlabelbox > label {
    font-size: var(--large-font);
    margin: 0 10px;
    color: black;
    width: 75%;
}
.exportmainbox {
    background: var(--bar-gradient);
    width: auto;
    height: auto;
    min-height: var(--main-export-box-height);
    min-width: var(--main-export-box-width);
    max-height: var(--main-export-box-height);
    padding: 0;
    position: fixed;
    left: 35vw;
    top: 20vh;
    border: 3px solid black;
    border-radius: 3px 3px;
}
.maincontent-sm {
    height: auto;
    max-height: var(--main-content-height);
    width: 92%;
    margin: auto auto;
    text-align: left;
}

/* index page */
.iconbtn {
    background: var(--bar-gradient);
    padding: 4px 0;
}
a.descanchor, a.descanchor:visited   {
    color: var(--contrast-color);
}
a.descanchor:hover {
    color: var(--main-bg-color);
}
.svgimg {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.edittoolsbox > rect, .filetoolsbox > rect {
    pointer-events: none;
}
div {
    border-radius: 1.5px 1.5px;
}
button.disabled {
    background: rgba(214, 214, 214, 0.781) !important;
    pointer-events: none;
    box-shadow: none !important;
    border: none;
    cursor: auto;
}
.titleLogo {
    width: auto;
    height: auto;
    max-height: var(--max-title-height);
    max-width: var(--max-title-width);
}
.usgsLogo {
    height: var(--usgs-image-height);
    width: var(--usgs-image-width);
}
.pips2header {
    width: 100%;
    max-height: var(--header-height);
    min-height: var(--header-height);
    display: flex;
    padding: none;
    border: none;
}
.fileinputfield {
    width: 80%;
}
.mainfooter {
    display: flex;
    width: 100%;
    height: var(--footer-height);
    max-height: var(--footer-height);
    background: var(--bar-gradient);
    color: var(--accent-color);
    bottom: 0;
    padding: 0 auto 20px auto;
    position: fixed;
}
.windowremovebtn  {
    background: transparent;
    border-radius: 2px 2px;
    font-size: var(--large-font);
    padding: 5px 8px;
    vertical-align: top;
    margin: 0 0 0 0;
    border: 1px solid transparent;
}
.exporttitlebox > h3 {
    font-size: var(--main-export-title-font);
    padding: 0px;
}
#exportbtn {
    border-radius: 3px 3px;
    padding: 0px 1px;
    font-size: var(--medium-font);
    background: var(--bar-gradient);
    cursor: pointer;
    width: auto;
    height: auto;
}
#exportbtn > svg {
    width: var(--export-btn-width);
    height: var(--export-btn-height);
    pointer-events: none;
}
.imageform {
    width: 90%;
    height: auto;
    padding: 0;
    margin:  0;
}
.windoworderingbtn:hover {
    cursor: grab;
}
.windoworderingbtn>svg {
    pointer-events: none;
}
.windoworderingbtn{
    background: transparent;
    border-radius: 2px 2px;
    font-size: var(--medium-font);
    padding: 0;
    width: var(--max-svg-btn);
    vertical-align: top;
    margin: 0 0 0 0;
    border: 1px solid transparent;
    pointer-events: visible;
}
.filetoolsbox {
    border: 1.5px solid var(--primary-color);
    width: 100%;
    min-width: var(--toolbox-min-width);
    max-width: var(--toolbox-max-width);
    min-height: var(--toolbox-min-height);
    max-height: var(--toolbox-max-height);
    background: var(--accent-color);
    height: 50%;
    text-align: left;
    overflow-y: auto;
    overflow-x: hidden;
    color: white;
    padding: 0;
    transition: all ease-in-out var(--transition-time);
    -moz-transition: all ease-in-out var(--transition-time); /* Firefox 4 */
    -webkit-transition: all ease-in-out var(--transition-time); /* Safari and Chrome */
    -o-transition: all ease-in-out var(--transition-time); /* Opera */
    -ms-transition: all ease-in-out var(--transition-time); /* Explorer 10 */
    margin: 0 auto 0 auto;
}
.dividerline {
    width: 100%;
    height: auto;
    font-size: var(--large-font);
    min-height: var(--toolbox-min-height);
    max-height: var(--toolbox-max-height);
    background: var(--secondary-color);
    border-radius: 2px 2px;
    box-shadow: 0px -5px var(--contrast-color);
    margin: 0 0 0 0;
    padding: 0;
    text-align: center;
}
.imagetoolsbox > .dividerline {
    width: 65%;
    margin: 10px auto 0 auto;
}
.filetoolsbox > input[type="file"] {
    width: 90%;
}
.text {
    color: white;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 100%;
    font-size: var(--medium-font);
}
.text-inner{
    color: white;
    display: block;
    text-align: center;
    padding: 0;
    text-align: left;
    width: 100%;
    font-size: var(--small-font);
}
.concisebtngroup {
    text-align: center;
    padding: 0px;
    width: 100%;
}
.concisebtngroup > button {
    height: var(--btn-group-btn);
    width: var(--btn-group-btn);
    max-width: 200px;
    border: 2px solid black;
    padding: 3px 3px;
}
.concisebtngroup > .disabled {
    background: var(--disabled-button-gradient) !important;
}
.concisebtngroup > .disabled:hover {
    cursor: default !important;
}
#icongroup > button:hover {
    cursor: grab;
}
.keybox {
    margin: "2px auto 3px 5px";
    font-size: large;
    color: black;
}
.valbox {
    font-size: large;
    margin: "2px 5px 3px auto";
    color: black;
}
.edittoolsbox {
    border: 1.5px solid var(--primary-color);
    width: auto;
    text-align: center;
    min-width: 90%;
    max-width: 100%;
    min-height: var(--toolbox-min-height);
    max-height: var(--edittoolbox-max-height);
    height: 50%;
    background: var(--accent-color);
    overflow-y: auto;
    overflow-x: hidden;
    color: white;
    padding: 0 2px;
    transition: all ease-in-out var(--transition-time);
    -moz-transition: all ease-in-out var(--transition-time); /* Firefox 4 */
    -webkit-transition: all ease-in-out var(--transition-time); /* Safari and Chrome */
    -o-transition: all ease-in-out var(--transition-time); /* Opera */
    -ms-transition: all ease-in-out var(--transition-time); /* Explorer 10 */
    margin: 0 0 0 0;
}
button.selected {
    background: rgba(85, 84, 84, 0.5);
}
.captiontoolsbox {
    border: 1px solid black;
    width: auto;
    min-width: 100%;
    max-width: 100%;
    min-height: 0%;
    background: var(--accent-color);
    max-height: 100%;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    transition: all ease-in-out var(--transition-time);
    -moz-transition: all ease-in-out var(--transition-time); /* Firefox 4 */
    -webkit-transition: all ease-in-out var(--transition-time); /* Safari and Chrome */
    -o-transition: all ease-in-out var(--transition-time); /* Opera */
    -ms-transition: all ease-in-out var(--transition-time); /* Explorer 10 */
    margin: 0;
    color: white;
    text-align: center;
}
.captiontoolsbox > input[type='number'], .imagetoolsbox > input[type='number'] {
    width: 75%;
}
.imagetoolsbox > input[name='widthinput'], .imagetoolsbox > input[name='heightinput'] {
    background: rgb(73, 73, 73);
    width: 44%;
    color: white;
    pointer-events: none;
    border-radius: 5px;
}
.textareainputfield {
    max-width: 100%;
    font-size: var(--xsmall-font);
    margin: 0 auto;
}
.icontoolbox {
    width: 100%;
    margin: 0 0 0 0;
    color: white;
    border-radius: 5px;
    padding: 3px;
    text-align: center;
    min-height: 0%;
    max-height: 200px;
    background: var(--accent-color);
    height: auto;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all ease-in-out var(--transition-time);
    -moz-transition: all ease-in-out var(--transition-time); /* Firefox 4 */
    -webkit-transition: all ease-in-out var(--transition-time); /* Safari and Chrome */
    -o-transition: all ease-in-out var(--transition-time); /* Opera */
    -ms-transition: all ease-in-out var(--transition-time); /* Explorer 10 */
}
.imagetoolsbox > .windowoptionsbar {
    width: 88%;
    margin: 0 0 0 0;
    border-radius: 5px;
    padding: 3px;
}
.linetoolsbox {
    border: 1px solid black;
    width: auto;
    color: white;
    min-width: 100%;
    text-align: center;
    min-height: 0%;
    max-height: 200px;
    background: var(--accent-color);
    height: 200px;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all ease-in-out var(--transition-time);
    -moz-transition: all ease-in-out var(--transition-time); /* Firefox 4 */
    -webkit-transition: all ease-in-out var(--transition-time); /* Safari and Chrome */
    -o-transition: all ease-in-out var(--transition-time); /* Opera */
    -ms-transition: all ease-in-out var(--transition-time); /* Explorer 10 */
    margin: 0;
}
.captions {
    overflow-y: hidden;
}
.imagetoolsbox {
    border: 1px solid black;
    width: auto;
    color: white;
    min-width: 100%;
    max-width: 100%;
    min-height: 0px;
    max-height: 300px;
    background: var(--accent-color);
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all ease-in-out var(--transition-time);
    -moz-transition: all ease-in-out var(--transition-time); /* Firefox 4 */
    -webkit-transition: all ease-in-out var(--transition-time); /* Safari and Chrome */
    -o-transition: all ease-in-out var(--transition-time); /* Opera */
    -ms-transition: all ease-in-out var(--transition-time); /* Explorer 10 */
    padding: 0;
    margin: 0;
    text-align:  center;
}
.toolboxminimizebtn {
    background: var(--bar-gradient);
    border-radius: 2px 2px;
    font-size: var(--large-font);
    vertical-align: top;
    padding: 0;
    width: auto;
    height: auto;
    box-shadow: 2px 2px rgb(177, 177, 177);
    min-width: var(--min-svg-btn);
    min-height: var(--min-svg-btn);
}
.btnvectorgraphic{
    width: auto;
    min-width: var(--svg-icon-width);
    max-width: var(--svg-icon-width);
    height: auto;
    pointer-events: none;
}
#scalebarbtnopt > .btnvectorgraphic {
    width: 100%;
    max-width: inherit;
    height: var(--svg-icon-height);
}
button#northarrowopt, button#sunarrowopt, button#observerarrowopt , button#scalebarbtnopt , button#penciloptbtn, button#outlinebtnopt, button#keyopt{
    background: var(--bar-gradient);
    border: 3px solid black;
}
button#northarrowopt:hover, button#sunarrowopt:hover, button#observerarrowopt:hover , button#scalebarbtnopt:hover , button#penciloptbtn:hover, button#outlinebtnopt:hover, button#keyopt:hover{
    background: var(--hover-contrast-color);
}
button#scalebarbtnopt  {
    width: 85%;
}
.btnvectorgraphic>svg {
    pointer-events: inherit;
}
.toolboxaddimagebtn.disabled {
    background: rgba(10, 10, 10, 1);
    border-radius: 2px 2px;
    font-size: var(--large-font);
    vertical-align: top;
    width: auto;
    height: auto;
    padding: 0;
    box-shadow: 2px 2px rgb(177, 177, 177);
    min-width: var(--min-svg-btn);
    max-width: var(--max-svg-btn);
    min-height: var(--min-svg-btn);
    max-height: var(--max-svg-btn);
}
.toolboxaddimagebtn {
    background: var(--bar-gradient);
    border-radius: 2px 2px;
    font-size: var(--large-font);
    vertical-align: top;
    width: auto;
    height: auto;
    padding: 0;
    box-shadow: 2px 2px rgb(177, 177, 177);
    min-width: var(--min-svg-btn);
    max-width: var(--max-svg-btn);
    min-height: var(--min-svg-btn);
    max-height: var(--max-svg-btn);
}
.toolboxaddcaptionbtn {
    background: var(--bar-gradient);
    border-radius: 2px 2px;
    font-size: var(--large-font);
    vertical-align: top;
    width: auto;
    height: auto;
    box-shadow: 2px 2px rgb(177, 177, 177);
    padding: 0;
    min-width: var(--min-svg-btn);
    max-width: var(--max-svg-btn);
    min-height: var(--min-svg-btn);
    max-height: var(--max-svg-btn);
}
.draggableToolbox {
    background: var(--main-bg-color);
    display: block;
}
.disabled {
    background: rgba(0, 0, 0, 0.35) !important;
    pointer-events: none;
    border: none;
}
button:hover {
    border-color: black;
}
.exportoptionsbar {
    text-align: right;
    width: var(--inner-main-content-max-width);
    overflow: hidden;
}
.buttongroup-left {
    margin: 0 auto 0 0;
    max-height: 2em;
}
img.loading {
    animation: loading 2s linear 1s infinite alternate;
    -webkit-animation: loading 2s linear 1s infinite;
}
.buttongroup {
    margin: 0 0 0 auto;
}
.buttongroup > button {
    background-color: transparent;
    border-right: 1px solid black;
    color: white;
    border-radius: 2px 2px;
    font-size: var(--header-btn-font);
}
.footerbuttongroup {
    margin: 0 0 0 auto;
}
.footerbuttongroup > a {
    background-color: transparent;
    color: inherit;
    text-decoration: none;
    margin: auto 5px 5px 5px;
    padding: 5px 3px 0 3px;
    font-size: var(--large-font);
    box-shadow: 0 2px var(--contrast-color);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.footerbuttongroup > a.disabled {
   background: var(--footer-button-disabled-color);
   pointer-events: none;
}
.footerbuttongroup > a:hover {
    background: rgba(62, 149, 163, 0.24);
}
svg.imagecontainer {
    width: auto;
    height: var(--inner-main-content-max-height);
    padding: 0;
    margin: 0 auto 0 auto;
}
.svgholder {
    width: 100%;
    height: var(--inner-main-content-max-height);
    background: black;
}
svg.scalerBox {
    height: auto;
    border: 3px solid black;
}
.progressBox {
    width: 25%;
    margin:  0 0 0 auto;
}
.uploadBox {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
}
.windowminimizebtn {
    background: transparent;
    border-radius: 2px 2px;
    font-size: var(--small-font);
    padding: 5px 5px;
    vertical-align: top;
    margin: 0 0 0 auto;
    border: 1px solid transparent;
}
.windowoptionsbar {
    background: var(--bar-gradient);
    text-align: right;
    width: 100%;
    padding: 0px;
    border: 1px solid black;
    margin: 0 0 0 0;
    overflow: hidden;
}
.windowoptionsbar>h4{
    font-size: var(--large-font);
    vertical-align: middle;
    margin: auto auto auto 2px;
    pointer-events: none;
}
.windowoptionsbar>button {
    font-size: var(--small-font);
}
.toolscontainer{
    width: 100%;
    height: var(--toolcontainer-height);
    border: 2px solid var(--contrast-color);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0px 0px;
    margin: 0 0 0 0;
    transition: all ease-in-out var(--transition-time);
    -moz-transition: all ease-in-out var(--transition-time); /* Firefox 4 */
    -webkit-transition: all ease-in-out var(--transition-time); /* Safari and Chrome */
    -o-transition: all ease-in-out var(--transition-time); /* Opera */
    -ms-transition: all ease-in-out var(--transition-time); /* Explorer 10 */
}
.windowsidebar {
    background: transparent;
    border: none;
    width: auto;
    height: 100%;
    max-width: 2em;
    margin: 0 0 0 0;
    padding: .5px;
    min-width: var(--min-svg-btn);
    text-align: center;
}
.containingelement {
    cursor: none;
    width: auto;
}
.windowsidebar > button:hover {
    border: none;
    box-shadow: 1px 1px rgb(170, 167, 167);
}
.closed {
    height: 0em !important;
}
.toolboxcontainer.closed {
    width: var(--min-svg-btn) !important;
    min-width: 0% !important;
}
input[type="color"]{
    width: var(--color-input-width);
    height: var(--color-input-height);
}
.toolboxcontainer {
    background: var(--main-bg-color);
    color: black;
    display: flex;
    height: 100%;
    width: auto;
    min-width: var(--toolbox-width);
    transition: all ease-in-out var(--transition-time);
    -moz-transition: all ease-in-out var(--transition-time); /* Firefox 4 */
    -webkit-transition: all ease-in-out var(--transition-time); /* Safari and Chrome */
    -o-transition: all ease-in-out var(--transition-time); /* Opera */
    -ms-transition: all ease-in-out var(--transition-time); /* Explorer 10 */
    margin: 0 2.5px 0 0;
}
.editbox {
    margin: 0 auto auto auto;
    background: var(--primary-color);
    background: var(--secondary-color);
    color: var(--main-bg-color);
    height: var(--main-content-height);
    width: auto;
    text-align: center;
    border: 2px solid black;
    transition: all ease-in-out var(--transition-time);
    -moz-transition: all ease-in-out var(--transition-time); /* Firefox 4 */
    -webkit-transition: all ease-in-out var(--transition-time); /* Safari and Chrome */
    -o-transition: all ease-in-out var(--transition-time); /* Opera */
    -ms-transition: all ease-in-out var(--transition-time); /* Explorer 10 */
    overflow: visible;
    padding: 5px 2px 3px 2px;
}
.pagetitle {
    margin: 0 auto 0 auto;
}

/* footer boxes */
.leftfooter {
    vertical-align: middle;
    margin: auto auto auto 1em;
    width: 33.3%;
    color: inherit;
}
.centerfooter {
    margin: 2em auto 2em auto;
    text-align: center;
    color: inherit;
    border: 1px solid black;
    width: auto;
}
.rightfooter {  
    color: inherit;
    vertical-align: middle;
    text-align: center;
    margin: auto 2em auto auto;
    width: 30%;
    pointer-events: none;
    font-size: var(--medium-font);
}
.middledisplay {
    text-align: center;
    margin: 0 auto;
    text-align: auto;
}