:root {
    --main-bg-color: rgb(10, 34, 57);
    --primary-color: rgb(29, 132, 181);
    --secondary-color: rgb(137, 191, 210);
    --accent-color: rgb(18, 74, 105);
    --contrast-color: rgb(62, 149, 163);
    --hover-contrast-color: rgba(62, 149, 163, 0.846);
    --footer-button-disabled-color: rgba(27, 114, 128, 0.541);
    --disabled-button-gradient: linear-gradient(to top right,rgb(106, 106, 106), rgb(181, 181, 181));
    --bar-gradient: linear-gradient(to bottom right,rgb(237, 237, 237), rgb(156, 156, 156));
    --transition-time: 0.125s;
}

html {
    background: var(--main-bg-color);
    overflow-x: hidden;
    overflow-y: auto;
    color: var(--contrast-color);
    padding: 0 0px;
    margin: 0;
    height: auto;
}

html.contained {
    overflow-y: hidden;
}

.marker:hover {
    cursor: grab;
}

.linklist > a {
    color: var(--contrast-color);
    margin: auto auto;
    font-size: var(--medium-font);
}

.linklist {
    display: block;
    text-align: left;
    margin: 0 0;
}

.leftcontainer {
    margin: auto auto auto 1em;
    width: 33.3%;
    height: var(--header-height);
}

.centercontainer {
    margin: auto auto;
    width: auto;
    height: var(--header-height);
}

.rightcontainer {
    margin: auto 1em auto auto;
    width: 33.3%;
    height: var(--header-height);
}

.nobody {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0 auto;
    height: auto;
    width: 100%;
    overflow-x: hidden;
}

.hand  {
    cursor: grabbing !important;
}

.outlining:hover {
    cursor: crosshair;
}

.outlining {
    cursor: crosshair;
    background: transparent;
}

.desclist {
    display: block;
    text-align: left;
    height: 100%;
}

.linklist > a:visited {
    color: var(--secondary-color);
}

i>b {
    font-size: var(--large-font);
}

i>b>a, i>b>a:visited {
    font-style: normal;
    text-decoration: underline;
    font-size: var(--medium-font);
    color: lightskyblue;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.UIIntro {
    width: 70%;
    height: 55%;
}

.UIGif {
    width: 60%;
    height: 55%;
}

pre.UIHolder {
    text-align: center;
    margin: 0 auto;
}

.pilotstepsimage {
    width: 60vw;
    height: auto;
    margin: 0 10vw 0 10vw;
    text-align: center;
}

.pilotstepsimage-sm {
 width: 40% !important;
}

.gdalimage {
    width: auto;
    height: 100%;
    max-height: var(--max-title-height);
    margin: 5px 10px 0 auto;
}

.basicfaqcontent {
    display: flex;
    background-color: rgba(0,0,0,.1);
    padding: 0;
}

.inlayedlink {
    color: var(--secondary-color);
}


.inlayedlink:hover {
    color: var(--primary-color);
}

.importantnotecontent{
    background-color: rgba(0,0,0,.1);
    padding: 1em;
    font-size: var(--large-font);
}

.importantnotecontent>.importantnotecontent {
    padding: .25em;
}

h4.importantnote-main {
    padding: 0;
    margin-top: 0;
}

h5.importantnote-desc {
    padding: 0;
    margin-bottom: 0;
}

.answerBox {
    width: auto;
    min-width: 10em;
    margin: auto;
    height: 100%;
    vertical-align: middle;
}

.descBox {
    width: 75%;
    margin: 0 0 0 auto;
    background: rgba(0, 0, 0, 0.1);
    text-align: left;
    padding: 10px 5px;
    font-size: var(--large-font);
}

.githubimage, .faqimage{
    text-align: right;
    width: auto;
    height: var(--max-title-height);
    margin: 10px 10px;
}

.basicpageheader {
    margin: 0 auto;
    text-align: left;
}

.innerpageheader {
    margin: 0 auto;
    text-align: center;
}

.selectedBox {
    border: 7px solid var(--main-bg-color);
    pointer-events: none;
    transition: all .5ms linear;
}

.selectedBox > div {
    cursor: grabbing !important;
}

.basicpagecontent {
    background-color: rgba(0,0,0,.1);
    padding: 1em;
    font-size: var(--large-font);
}

pre > h2 {
    font-size: var(--medium-font);
}

pre > i > b {
    word-wrap: break-word;
}
.basicpagecontent > pre {
    padding: 10px;
    font-size: var(--medium-font);
    max-width: none;
    background-color: rgba(255, 255, 255, 0.1);
    margin: auto;
    text-align: left;
    height: auto;
}

.basicpagecontent > pre > pre {
    padding: 10px;
    max-width: none;
    background-color: rgba(0, 0, 0, 0.1);
    margin: auto;
    text-align: center;
    height: auto;
}

.basicpagecontent > pre > img, .basicpagecontent > pre > pre > img {
    margin: 0 auto 0 auto;
    text-align: center;
}

.column {
    display: flex;
}

.column > label {
    font-size: var(--small-font);
}

.column > input[type="checkbox"].disabled {
    pointer-events: none;
}

.basicpagecontent > img {
    text-align: center !important;
}


.mainaboutbox {
    margin: 0 2vw;
    text-align: left;
    padding: 1em;
    min-width: 30em;
    height: auto;
    text-align: center;
    background: var(--accent-color);
    color: var(--primary-color);
    font-size: var(--medium-font);
    width:100%;
    overflow-y: auto;
}

img#usgsNavIcon:hover {
    cursor: pointer;
}

.iconbtn {
    background: var(--bar-gradient);
    padding: 4px 0;
}

.headerimage {
    max-width: var(--max-header-image-width);
    width: auto;
    max-height: var(--header-height);
    height: auto;
}

a.descanchor, a.descanchor:visited   {
    color: var(--contrast-color);
}

a.descanchor:hover {
    color: var(--main-bg-color);
}

.selecting {
    cursor: grab;
}

.drawing {
    background: transparent;
}

.drawing:hover{
    cursor: url("/images/pencil.svg"), auto !important;
}

body {
    margin: 0 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.svgimg {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.edittoolsbox > rect, .filetoolsbox > rect {
    pointer-events: none;
}

div {
    border-radius: 1.5px 1.5px;
}

button.disabled {
    background: transparent !important;
    pointer-events: none;
    box-shadow: none !important;
    border: none;
    cursor: auto;
}

.titleLogo {
    width: auto;
    height: auto;
    max-height: var(--max-title-height);
    max-width: var(--max-title-width);
}

.usgsLogo {
    height: auto;
    width: auto;
    max-width: var(--usgs-image-width);
    min-height: var(--usgs-image-height);
    margin: 0 0 0 auto;
}

.pips2header {
    width: 100%;
    height: auto;
    display: flex;
}

.fileinputfield {
    width: 100%;
}

.mainfooter {
    display: flex;
    width: 100%;
    height: var(--footer-height);
    background: var(--bar-gradient);
    color: var(--accent-color);
    bottom: 0;
    position: fixed;
}

.windowremovebtn {
    background: transparent;
    border-radius: 2px 2px;
    font-size: var(--medium-font);
    padding: 5px;
    vertical-align: top;
    margin: 0 0 0 0;
    border: 1px solid transparent;
}

.exporttitlebox > h3 {
    font-size: var(--main-export-title-font);
    padding: 0px;
}

#exportbtn {
    font-size: var(--small-font);
    border-radius: 3px 3px;
    padding: 2px;
    background: var(--bar-gradient);
    cursor: pointer;
}

#exportbtn > svg {
    width: var(--export-btn-width);
    height: var(--export-btn-height);
    pointer-events: none;
}

.exporttitlebox {
    text-align: center;
    color: black;
    border-bottom: 2px solid black;
    height: auto;
    padding: 0px;
}

.exportbuttonholder {
    min-height: 25px;
    display: flex;
    height: auto;
    margin: auto 0 0 0;
    bottom: 0;
}

.exportinputholder {
    margin: 0 auto;
    display: flex;
    height: 80%;
    width: 95%;
    padding: 0 10px 0 0;
}

.exportpanelbtn {
    border-radius: 5px 5px;
    font-size: var(--medium-font);
}

.exportinputholder>form{
    display: flex;
    width: 100%;
    height: auto;
}

.forminputcheckboxholder {
    width: auto;
    margin: .5em 0 0 2em;
    display: block;
    color: black;
}

.forminputbox {
    width: 100%;
    margin: 0 auto;
}

.forminputbox > input[name="exportfilename"] {
    width: 100%;
    height: auto;
    font-size: var(--sm-medium-font);
    border-radius: 3px 3px;
}

.invalid {
    border: 2px dotted red;
}

.formlabelbox {
    width: 100%;
    margin: 0 auto 0 0;
    display: block;
    height: 100%;
    padding: 3px 3px;
    text-align: left;
}

.formlabelbox > label {
    font-size: var(--large-font);
    margin: 0 10px;
    color: black;
    width: 75%;
}

.exportmainbox {
    background: var(--bar-gradient);
    width: auto;
    height: auto;
    min-height: var(--main-export-box-height);
    min-width: var(--main-export-box-width);
    max-height: var(--main-export-box-height);
    padding: 0;
    position: fixed;
    left: 35vw;
    top: 20vh;
    border: 3px solid black;
    border-radius: 3px 3px;
}

.maincontent {
    display: flex; 
    height: auto;
    min-height: var(--main-content-height);
    width: auto; 
    margin: 0 0 0 0;
    text-align: left;
    overflow: hidden;
}

.imageform {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.windoworderingbtn:hover {
    cursor: grab;
}

.windoworderingbtn>svg {
    pointer-events: none;
}

.windoworderingbtn{
    background: transparent;
    border-radius: 2px 2px;
    font-size: var(--medium-font);
    padding: 0;
    width: auto;
    min-width: var(--min-svg-btn);
    max-width: var(--max-svg-btn);
    min-height: var(--min-svg-btn);
    vertical-align: top;
    margin: 0 0 0 0;
    border: 1px solid transparent;
    pointer-events: visible;
}

.filetoolsbox {
    border: 1.5px solid var(--primary-color);
    width: auto;
    min-width: var(--toolbox-min-width);
    max-width: var(--toolbox-max-width);
    min-height: var(--toolbox-min-height);
    max-height: var(--toolbox-max-height);
    background: var(--accent-color);
    text-align: center;
    height: 25%;
    overflow-y: auto;
    overflow-x: hidden;
    color: white;
    padding: 0 1px;
    transition: all ease-in-out var(--transition-time);
    -moz-transition: all ease-in-out var(--transition-time); /* Firefox 4 */
    -webkit-transition: all ease-in-out var(--transition-time); /* Safari and Chrome */
    -o-transition: all ease-in-out var(--transition-time); /* Opera */
    -ms-transition: all ease-in-out var(--transition-time); /* Explorer 10 */
    margin: 0;
}

.dividerline {
    width: 100%;
    height: auto;
    font-size: var(--large-font);
    min-height: var(--toolbox-min-height);
    max-height: var(--toolbox-max-height);
    background: var(--secondary-color);
    border-radius: 2px 2px;
    box-shadow: 0px -5px var(--contrast-color);
    margin: 4px 0 auto 0;
    text-align: center;
}

.filetoolsbox > input[type="file"] {
    width: 100%;
}

label.text {
    border-bottom: 1px solid white;
    font-size: auto;
    border-top: 1px solid white;
    color: white;
    padding: 2.5px 10px;
    text-align: center;
    width: 100%;
    font-size: var(--medium-font);
}

.concisebtngroup {
    padding: 0px;
    width: 100%;
}

.concisebtngroup > button {
    padding: 2px;
    height: auto;
    border: 5px solid black;
    padding: 2px 2px;
}

.concisebtngroup > .disabled {
    background: var(--disabled-button-gradient) !important;
}


.concisebtngroup > .disabled:hover {
    cursor: default !important;
}

#icongroup > button:hover {
    cursor: grab;
}

.edittoolsbox {
    border: 1.5px solid var(--primary-color);
    width: auto;
    text-align: center;
    min-width: 100%;
    max-width: 100%;
    min-height: var(--toolbox-min-height);
    max-height: var(--edittoolbox-max-height);
    height: 40%;
    background: var(--accent-color);
    overflow-y: auto;
    overflow-x: hidden;
    color: white;
    padding: 0 2px;
    transition: all ease-in-out var(--transition-time);
    -moz-transition: all ease-in-out var(--transition-time); /* Firefox 4 */
    -webkit-transition: all ease-in-out var(--transition-time); /* Safari and Chrome */
    -o-transition: all ease-in-out var(--transition-time); /* Opera */
    -ms-transition: all ease-in-out var(--transition-time); /* Explorer 10 */
    margin: 0;
}

button.selected {
    background: rgba(85, 84, 84, 0.5);
}

.captiontoolsbox {
    border: 1px solid black;
    width: auto;
    min-width: 100%;
    max-width: 100%;
    min-height: 0%;
    background: var(--accent-color);
    max-height: 100%;
    height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 2px;
    transition: all ease-in-out var(--transition-time);
    -moz-transition: all ease-in-out var(--transition-time); /* Firefox 4 */
    -webkit-transition: all ease-in-out var(--transition-time); /* Safari and Chrome */
    -o-transition: all ease-in-out var(--transition-time); /* Opera */
    -ms-transition: all ease-in-out var(--transition-time); /* Explorer 10 */
    margin: 0;
    color: white;
}

.textareainputfield {
    max-width: 100%;
    font-size: var(--xsmall-font);
    margin: 0 auto;
}

.icontoolbox {
    width: 100%;
    background: var(--contrast-color);
    height: auto;
}

.imagetoolsbox>.dividerline {
    width: 75%;
    margin: 0 auto 0 auto;
}

.captiontoolsbox>.dividerline {
    width: 75%;
    margin: 0 auto 0 auto;
}

.linetoolsbox {
    border: 1px solid black;
    width: auto;
    color: white;
    min-width: 100%;
    min-height: 0%;
    max-height: 200px;
    background: var(--accent-color);
    height: 200px;
    padding: 0 2px;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all ease-in-out var(--transition-time);
    -moz-transition: all ease-in-out var(--transition-time); /* Firefox 4 */
    -webkit-transition: all ease-in-out var(--transition-time); /* Safari and Chrome */
    -o-transition: all ease-in-out var(--transition-time); /* Opera */
    -ms-transition: all ease-in-out var(--transition-time); /* Explorer 10 */
    margin: 0;
}

.captions {
    overflow-y: hidden;
}

.imagetoolsbox {
    border: 1px solid black;
    width: auto;
    color: white;
    min-width: var(--toolbox-min-width);
    max-width: var(--toolbox-max-width);
    min-height: 0px;
    max-height: 200px;
    background: var(--accent-color);
    height: auto;
    padding: 0 2px;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all ease-in-out var(--transition-time);
    -moz-transition: all ease-in-out var(--transition-time); /* Firefox 4 */
    -webkit-transition: all ease-in-out var(--transition-time); /* Safari and Chrome */
    -o-transition: all ease-in-out var(--transition-time); /* Opera */
    -ms-transition: all ease-in-out var(--transition-time); /* Explorer 10 */
    margin: 0;
}

.toolboxminimizebtn {
    background: var(--bar-gradient);
    border-radius: 2px 2px;
    font-size: var(--medium-font);
    vertical-align: top;
    padding: 0;
    width: auto;
    height: auto;
    box-shadow: 2px 2px rgb(177, 177, 177);
    min-width: var(--min-svg-btn);
    min-height: var(--min-svg-btn);
}

.btnvectorgraphic{
    width: auto;
    min-width: var(--svg-icon-width);
    max-width: var(--svg-icon-width);
    height: auto;
    pointer-events: none;
}

#scalebarbtnopt > .btnvectorgraphic {
    width: 100%;
    max-width: inherit;
    height: var(--svg-icon-height);
}

button#northarrowopt, button#sunarrowopt, button#observerarrowopt , button#scalebarbtnopt , button#penciloptbtn, button#outlinebtnopt{
    background: var(--bar-gradient);
    border: 3px solid black;
}

button#northarrowopt:hover, button#sunarrowopt:hover, button#observerarrowopt:hover , button#scalebarbtnopt:hover , button#penciloptbtn:hover, button#outlinebtnopt:hover{
    background: var(--hover-contrast-color);
}

button#scalebarbtnopt  {
    width: 85%;
}

.btnvectorgraphic>svg {
    pointer-events: inherit;
}

.toolboxaddimagebtn {
    background: var(--bar-gradient);
    border-radius: 2px 2px;
    font-size: var(--medium-font);
    vertical-align: top;
    width: auto;
    height: auto;
    padding: 0;
    box-shadow: 2px 2px rgb(177, 177, 177);
    min-width: var(--min-svg-btn);
    max-width: var(--max-svg-btn);
    min-height: var(--min-svg-btn);
    max-height: var(--max-svg-btn);
}

.toolboxaddcaptionbtn {
    background: var(--bar-gradient);
    border-radius: 2px 2px;
    font-size: var(--medium-font);
    vertical-align: top;
    width: auto;
    height: auto;
    box-shadow: 2px 2px rgb(177, 177, 177);
    padding: 0;
    min-width: var(--min-svg-btn);
    max-width: var(--max-svg-btn);
    min-height: var(--min-svg-btn);
    max-height: var(--max-svg-btn);
}

.draggableToolbox {
    background: yellow;
    display: block;
}

button.disabled {
    background: rgba(0, 0, 0, 0.35) !important;
    pointer-events: none;
    border: none;
}

button:hover {
    border-color: black;
}

.exportoptionsbar {
    text-align: right;
    width: var(--inner-main-content-max-width);
    overflow: hidden;
}

.buttongroup {
    margin: 0 0 0 auto;
}

.buttongroup > button {
    background-color: transparent;
    border-right: 1px solid black;
    color: white;
    border-radius: 2px 2px;
    font-size: var(--header-btn-font);
}

.footerbuttongroup {
    margin: 0 0 0 auto;
}

.footerbuttongroup > a {
    background-color: transparent;
    color: inherit;
    text-decoration: none;
    margin: auto 5px auto 5px;
    padding: 5px;
    font-size: var(--large-font);
    box-shadow: 0 2px var(--contrast-color);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.footerbuttongroup > a.disabled {
   background: var(--footer-button-disabled-color);
   pointer-events: none;
}

.footerbuttongroup > a:hover {
    background: rgba(62, 149, 163, 0.24);
}

svg.imagecontainer {
    width: auto;
    height: auto;
    max-width: 80%;
    max-height: 100%;
    padding: 0;
    margin: 0 auto 0 auto;
}

.svgholder {
    margin: 0 10px 0 10px;
    padding: 10px;
    width: auto;
    height: auto;
    max-height: var(--inner-main-content-max-height);
    background: black;
}

.progressBox {
    width: 25%;
    margin:  0 0 0 auto;
}

.uploadBox {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
}

.windowminimizebtn {
    background: transparent;
    border-radius: 2px 2px;
    font-size: var(--small-font);
    padding: 5px 5px;
    vertical-align: top;
    margin: 0 0 0 auto;
    border: 1px solid transparent;
}

.windowoptionsbar {
    background: var(--bar-gradient);
    text-align: right;
    width: 100%;
    padding: 0px;
    border: 1px solid black;
    overflow: hidden;
}

.windowoptionsbar>h4{
    font-size: var(--large-font);
    vertical-align: middle;
    margin: auto auto auto 0;
    pointer-events: none;
}

.windowoptionsbar>button {
    font-size: var(--xsmall-font);
}

.toolscontainer{
    width: 95%;
    height: var(--toolcontainer-height);
    border: 2px solid var(--contrast-color);
    border-top: 0px solid var(--contrast-color);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 0 0 0;
    transition: all ease-in-out var(--transition-time);
    -moz-transition: all ease-in-out var(--transition-time); /* Firefox 4 */
    -webkit-transition: all ease-in-out var(--transition-time); /* Safari and Chrome */
    -o-transition: all ease-in-out var(--transition-time); /* Opera */
    -ms-transition: all ease-in-out var(--transition-time); /* Explorer 10 */
}

.windowsidebar {
    background: transparent;
    border: none;
    width: auto;
    height: 100%;
    max-width: 2em;
    margin: 0 auto 0 0;
    padding: .5px;
    min-width: var(--min-svg-btn);
    text-align: center;
}

.containingelement {
    cursor: none;
    width: auto;
}

.windowsidebar > button:hover {
    border: none;
    box-shadow: 1px 1px rgb(170, 167, 167);
}

.leftfooter {
    vertical-align: middle;
    margin: auto auto auto 0;
    width: 33.3%;
    color: inherit;
}

.centerfooter {
    margin: auto;
    text-align: center;
    color: inherit;
    border: 1px solid black;
    width: auto;
}

.rightfooter {  
    color: inherit;
    text-align: center;
    margin: auto 0 auto auto;
    width: 30%;
    pointer-events: none;
    font-size: var(--medium-font);
}

.closed {
    height: 0em !important;
}

.toolboxcontainer.closed {
    width: var(--min-svg-btn) !important;
    min-width: 0% !important;
}

input[type="color"]{
    width: var(--color-input-width);
    height: var(--color-input-height);
}

.toolboxcontainer {
    background: var(--main-bg-color);
    color: black;
    display: flex;
    height: 100%;
    width: auto;
    min-width: 15%;
    transition: all ease-in-out var(--transition-time);
    -moz-transition: all ease-in-out var(--transition-time); /* Firefox 4 */
    -webkit-transition: all ease-in-out var(--transition-time); /* Safari and Chrome */
    -o-transition: all ease-in-out var(--transition-time); /* Opera */
    -ms-transition: all ease-in-out var(--transition-time); /* Explorer 10 */
    margin: 0 2.5px 0 0;
}

.editbox {
    margin: 0 auto 1.5em auto;
    background: var(--primary-color);
    background: var(--secondary-color);
    color: var(--main-bg-color);
    border: 2px solid black;
    height: var(--inner-main-content-max-height);
    width: auto;
    text-align: center;
    border: 2px solid black;
    transition: all ease-in-out var(--transition-time);
    -moz-transition: all ease-in-out var(--transition-time); /* Firefox 4 */
    -webkit-transition: all ease-in-out var(--transition-time); /* Safari and Chrome */
    -o-transition: all ease-in-out var(--transition-time); /* Opera */
    -ms-transition: all ease-in-out var(--transition-time); /* Explorer 10 */
    overflow: hidden;
}

.pagetitle {
    margin: 0 auto 0 auto;
}

.logininputbox {
    background-color: aquamarine;
    min-height: 25px;
    max-height: 100px;
    min-width: 25em;
    max-width: 33em;
}

.inputcontainer {
    margin: 0 auto 0 auto;
    text-align: center;
    width: auto;
    min-width: 500px;
    max-width: 75%;
    height: auto;
    border: 1px solid black;
}