:root {
    --main-bg-color: #0A2239;
    --primary-color: #1D84B5;
    --secondary-color: #89BFD2;
    --accent-color: #124A69;
    --contrast-color: #3E95A3;
    --bar-gradient: linear-gradient(to top right,rgb(237, 237, 237), rgb(156, 156, 156));
    --transition-time: 0.125s; 
}


html {
    background: var(--main-bg-color);
    width: 100%;
    height: auto;
    color: var(--contrast-color);
    padding: 0 0px;
    margin:0;
}

.linklist > a {
    color: var(--contrast-color);
    margin: auto auto;
    font-size: large;
}

.linklist {
    display: block;
    text-align: center;
}

.hand  {
    cursor: grabbing !important;
}

.outlining:hover {
    cursor: crosshair;
}

.outlining {
    cursor: crosshair;
    background: transparent;
}

.desclist {
    display: block;
    text-align: left;
    height: 100%;
}

.linklist > a:visited {
    color: var(--secondary-color);
}

i>b {
    font-size: 1.25em;
}

.pilotstepsimage {
    width: 80%;
    height: auto;
    min-width: 750px;
    max-width: 1500px;
    margin: .5em auto;
}

.pilotstepsimage-sm {
 width: 40% !important;
}

.gdalimage {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-height: 100px;
    max-width: 100px;
}

.basicfaqcontent {
    display: flex;
    background-color: rgba(0,0,0,.1);
    padding: 0;
}

.answerBox {
    width: auto;
    min-width: 10em;
    margin: auto;
    height: 100%;
    vertical-align: middle;
}

.descBox {
    width: 75%;
    margin: 0 0 0 auto;
    background: rgba(0, 0, 0, 0.1);
    text-align: left;
    padding: 10px 5px;
}

.pilotimage {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-height: 100px;
    max-width: 100px;
}

.basicpageheader {
    margin: 0 auto;
    text-align: left;
}

.selectedBox {
    border: 7px solid var(--main-bg-color);
    pointer-events: none;
    transition: all .25ms linear;
}

.selectedBox > div {
    cursor: grabbing;
}

.basicpagecontent {
    background-color: rgba(0,0,0,.1);
    padding: 1em;

}

.basicpagecontent > pre {
    padding: 10px;
    max-width: none;
    background-color: rgba(255, 255, 255, 0.1);
    margin: auto;
    text-align: left;
}

.basicpagecontent > pre > pre {
    padding: 10px;
    max-width: none;
    background-color: rgba(0, 0, 0, 0.1);
    margin: auto;
    text-align: left;
}

.basicpagecontent > pre >img {
    text-align: center;
}

.basicpagecontent > img {
    text-align: center !important;
}

.mainaboutbox {
    margin: 0 auto;
    text-align: left;
    padding: 1em;
    min-width: 45em;
    height: auto;
    text-align: center;
    background: var(--accent-color);
    color: var(--primary-color);
    width:100%;
    overflow-y: auto;
}

img#usgsNavIcon:hover {
    cursor: pointer;
}

.iconbtn {
    background: linear-gradient(bottom left to top right, rgb(190, 190, 190), rgb(119, 119, 119));
    padding: 4px 0;
}

.headerimage {
    max-width: 100px;
    max-height: 100px;
}

a.descanchor, a.descanchor:visited   {
    color: var(--contrast-color);
}

a.descanchor:hover {
    color: var(--main-bg-color);
}

.selecting {
    cursor: grab;
}

.drawing {
    background: transparent;
}

.drawing:hover{
    cursor: url("images/pencil.svg"), auto !important;
}

body {
    margin: 0;
    height: 100%;
}

.svgimg {
    width: 25px;
    height: 100%;
    margin: 0 auto;
}

.edittoolsbox > rect, .filetoolsbox > rect {
    pointer-events: none;
}

div {
    border-radius: 1.5px 1.5px;
}

button.disabled {
    background: transparent !important;
    pointer-events: none;
    box-shadow: none !important;
    border: none;
    cursor: auto;
}

.titleLogo {
    width: 100%;
    height: auto;
}

.usgsLogo {
    height: auto;
    min-width: 175px;
    max-width: 225px;
    min-height: 75px;
}

.pips2header {
    width: 100%;
    height: auto;
    min-height: 16%;
    max-height: 20%;
    display: flex;
}

.leftcontainer {
    margin: auto auto auto 0;
    width: 33.3%;
}

.centercontainer {
    margin: auto auto;
    width: auto;
    height:auto;
}

.rightcontainer {
    margin: auto 0 auto auto;
    width: 33.3%;
}

.fileinputfield {
    width: 100%;
}

.mainfooter {
    display: flex;
    width: 100%;
    height: 5%;
    background: var(--bar-gradient);
    color: var(--accent-color);
    bottom: 0;
    position: fixed;
}

.windowremovebtn {
    background: transparent;
    border-radius: 2px 2px;
    font-size: 10px;
    padding: 5px;
    vertical-align: top;
    margin: 0 0 0 0;
    border: 1px solid transparent;
}

.maincontent {
    display: flex; 
    height: 81%;
    width: auto; 
    margin: 0 0 0 0;
    text-align: left;
    overflow: hidden;
}

.imageform {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}


.windoworderingbtn:hover {
    cursor: grab;
}

.windoworderingbtn>svg {
    pointer-events: none;
}

.windoworderingbtn{
    background: transparent;
    border-radius: 2px 2px;
    font-size: 10px;
    padding: 0;
    width: auto;
    min-width: 25px;
    max-width: 25px;
    min-height: 25px;
    vertical-align: top;
    margin: 0 0 0 0;
    border: 1px solid transparent;
    pointer-events: visible;
}

.filetoolsbox {
    border: 1.5px solid var(--primary-color);
    width: auto;
    min-width: 100%;
    max-width: 100%;
    min-height: 0%;
    max-height: 96%;
    background: var(--accent-color);
    height: 25%;
    overflow: auto;
    color: white;
    padding: 0 1px;
    transition: all ease-in-out var(--transition-time);
    -moz-transition: all ease-in-out var(--transition-time); /* Firefox 4 */
    -webkit-transition: all ease-in-out var(--transition-time); /* Safari and Chrome */
    -o-transition: all ease-in-out var(--transition-time); /* Opera */
    -ms-transition: all ease-in-out var(--transition-time); /* Explorer 10 */
    margin: 0;
    resize: vertical;
}

.dividerline {
    width: 100%;
    height: auto;
    font-size: 20px;
    min-height: 20px;
    max-height: 35px;
    background: var(--secondary-color);
    border-radius: 2px 2px;
    box-shadow: 0px -5px var(--contrast-color);
    margin: 4px 0 auto 0;
    text-align: center;
}

.filetoolsbox > input[type="file"] {
    width: 100%;
}

label.text {
    border-bottom: 1px solid white;
    font-size: 12px;
    border-top: 1px solid white;
    color: white;
    padding: 2.5px 10px;
    text-align: center;
}

.edittoolsbox {
    border: 1.5px solid var(--primary-color);
    width: auto;
    min-width: 100%;
    max-width: 100%;
    min-height: 0%;
    max-height: 100%;
    height: 40%;
    background: var(--accent-color);
    overflow: auto;
    color: white;
    padding: 0 2px;
    transition: all ease-in-out var(--transition-time);
    -moz-transition: all ease-in-out var(--transition-time); /* Firefox 4 */
    -webkit-transition: all ease-in-out var(--transition-time); /* Safari and Chrome */
    -o-transition: all ease-in-out var(--transition-time); /* Opera */
    -ms-transition: all ease-in-out var(--transition-time); /* Explorer 10 */
    margin: 0;
    resize: vertical;
}

button.selected {
    background: rgba(85, 84, 84, 0.5);
}

.captiontoolsbox {
    border: 1px solid black;
    width: auto;
    min-width: 100%;
    max-width: 100%;
    min-height: 0%;
    background: var(--accent-color);
    max-height: 100%;
    height: 35%;
    overflow: auto;
    padding: 0 2px;
    transition: all ease-in-out var(--transition-time);
    -moz-transition: all ease-in-out var(--transition-time); /* Firefox 4 */
    -webkit-transition: all ease-in-out var(--transition-time); /* Safari and Chrome */
    -o-transition: all ease-in-out var(--transition-time); /* Opera */
    -ms-transition: all ease-in-out var(--transition-time); /* Explorer 10 */
    margin: 0;
    color: white;
    resize: vertical;
}

.textareainputfield {
    max-width: 100%;
    font-size: 13px;
    margin: 0 auto;
}

.icontoolbox {
    width: 100%;
    background: var(--contrast-color);
    height: auto;
}

.imagetoolsbox>.dividerline {
    width: 75%;
    margin: 0 auto 0 auto;
}

.captiontoolsbox>.dividerline {
    width: 75%;
    margin: 0 auto 0 auto;
}

.linetoolsbox {
    border: 1px solid black;
    width: auto;
    color: white;
    min-width: 100%;
    min-height: 0%;
    max-height: 200px;
    background: var(--accent-color);
    height: 35%;
    padding: 0 2px;
    overflow: auto;
    transition: all ease-in-out var(--transition-time);
    -moz-transition: all ease-in-out var(--transition-time); /* Firefox 4 */
    -webkit-transition: all ease-in-out var(--transition-time); /* Safari and Chrome */
    -o-transition: all ease-in-out var(--transition-time); /* Opera */
    -ms-transition: all ease-in-out var(--transition-time); /* Explorer 10 */
    margin: 0;
    resize: vertical;
}

.captions {
    overflow-y: hidden;
}

.imagetoolsbox {
    border: 1px solid black;
    width: auto;
    color: white;
    min-width: 100%;
    min-height: 0%;
    max-height: 200px;
    background: var(--accent-color);
    height: 35%;
    padding: 0 2px;
    overflow: auto;
    transition: all ease-in-out var(--transition-time);
    -moz-transition: all ease-in-out var(--transition-time); /* Firefox 4 */
    -webkit-transition: all ease-in-out var(--transition-time); /* Safari and Chrome */
    -o-transition: all ease-in-out var(--transition-time); /* Opera */
    -ms-transition: all ease-in-out var(--transition-time); /* Explorer 10 */
    margin: 0;
    resize: vertical;
}

.toolboxminimizebtn {
    background: var(--bar-gradient);
    border-radius: 2px 2px;
    font-size: 10px;
    vertical-align: top;
    width: 100%;
    height: auto;
    box-shadow: 2px 2px rgb(177, 177, 177);
    min-width: 25px;
    max-width: 35px;
    min-height: 25px;
    max-height: 25px;
}

.btnvectorgraphic {
    width: 25px;
    height: 100%;
    pointer-events: none;
}


button#northarrowopt, button#sunarrowopt, button#observerarrowopt  {
    background: var(--bar-gradient);    
}

.btnvectorgraphic>g {
    pointer-events: inherit;
}

.toolboxaddimagebtn {
    background: var(--bar-gradient);
    border-radius: 2px 2px;
    font-size: 10px;
    vertical-align: top;
    width: 100%;
    height: auto;
    padding: 0;
    box-shadow: 2px 2px rgb(177, 177, 177);
    min-width: 25px;
    max-width: 35px;
    min-height: 25px;
    max-height: 35px;
}

.toolboxaddcaptionbtn {
    background: var(--bar-gradient);
    border-radius: 2px 2px;
    font-size: 10px;
    vertical-align: top;
    width: 100%;
    height: auto;
    box-shadow: 2px 2px rgb(177, 177, 177);
    padding: 0;
    min-width: 25px;
    max-width: 35px;
    min-height: 25px;
    max-height: 25px;
}

.draggableToolbox {
    background: yellow;
    display: block;
}

button.disabled {
    background: rgba(0, 0, 0, 0.35) !important;
    pointer-events: none;
    border: none;
}


button:hover {
    border-color: black;
}

.exportoptionsbar {
    text-align: right;
    width: 100%;
    overflow: hidden;
}

.buttongroup {
    margin: 0 0 0 auto;
}

.buttongroup > button {
    background-color: transparent;
    border-right: 1px solid black;
    color: white;
    border-radius: 2px 2px;
}

.footerbuttongroup {
    margin: 0 0 0 auto;
}

.footerbuttongroup > a {
    background-color: transparent;
    color: inherit;
    text-decoration: none;
    margin: auto 5px auto 5px;
    padding: 5px;
    box-shadow: 0 2px var(--contrast-color);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.footerbuttongroup > a:hover {
    background: rgba(62, 149, 163, 0.24);
}

svg.imagecontainer {
    width: auto;
    height: auto;
    max-height: 95%;
    max-width: 80%;
    padding: 0;
    margin: 0 auto 0 auto;
}

.svgholder {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 95%;
    max-height: 1000px;
}

.progressBox {
    width: 25%;
    margin:  0 0 0 auto;
}

.uploadBox {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
}

.windowminimizebtn {
    background: transparent;
    border-radius: 2px 2px;
    font-size: 10px;
    padding: 5px 5px;
    vertical-align: top;
    margin: 0 0 0 auto;
    border: 1px solid transparent;
}

.windowoptionsbar {
    background: var(--bar-gradient);
    text-align: right;
    width: 100%;
    padding: 0px;
    border: 1px solid black;
    overflow: hidden;
}

.windowoptionsbar>h4{
    font-size: 16px;
    vertical-align: middle;
    margin: auto auto auto 0;
    pointer-events: none;
}

.windowoptionsbar>button {
    font-size: 10px;
}

.toolscontainer{
    width: 95%;
    height: auto;
    border: 2px solid var(--contrast-color);
    border-top: 0px solid var(--contrast-color);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 0 5% 0;
    transition: all ease-in-out var(--transition-time);
    -moz-transition: all ease-in-out var(--transition-time); /* Firefox 4 */
    -webkit-transition: all ease-in-out var(--transition-time); /* Safari and Chrome */
    -o-transition: all ease-in-out var(--transition-time); /* Opera */
    -ms-transition: all ease-in-out var(--transition-time); /* Explorer 10 */
}

.windowsidebar {
    background: transparent;
    border: none;
    width: auto;
    height: 100%;
    max-width: 25px;
    margin: 0 auto 0 0;
    padding: .5px;
    min-width: 2em;
    text-align: center;
}

.windowsidebar > button:hover {
    border: none;
    box-shadow: 1px 1px rgb(170, 167, 167);
}

.leftfooter {
    vertical-align: center;
    margin: auto auto auto 0;
    width: 33.3%;
    color: inherit;
}

.centerfooter {
    margin: auto;
    text-align: center;
    color: inherit;
    border: 1px solid black;
    width: auto;
}

.rightfooter {  
    color: inherit;
    text-align: center;
    margin: auto 0 auto auto;
    width: 33.3%;
}

.closed {
    height: 0% !important;
}

.toolboxcontainer.closed {
    width: 1em !important;
    min-width: 0% !important;
}

.toolboxcontainer {
    background: var(--main-bg-color);
    color: black;
    display: flex;
    height: auto;
    min-width: 15%;
    transition: all ease-in-out var(--transition-time);
    -moz-transition: all ease-in-out var(--transition-time); /* Firefox 4 */
    -webkit-transition: all ease-in-out var(--transition-time); /* Safari and Chrome */
    -o-transition: all ease-in-out var(--transition-time); /* Opera */
    -ms-transition: all ease-in-out var(--transition-time); /* Explorer 10 */
    max-height: max-content;
    margin: 0 2.5px 0 0;
}

.editbox {
    margin: 0 auto 0 0;
    background: var(--primary-color);
    color: var(--main-bg-color);
    border: 2px solid black;
    height: auto;
    width: auto;
    text-align: center;
    min-width: none;
    max-width: 95%;
    max-height: max-content;
    border: 2px solid black;
    transition: all ease-in-out var(--transition-time);
    -moz-transition: all ease-in-out var(--transition-time); /* Firefox 4 */
    -webkit-transition: all ease-in-out var(--transition-time); /* Safari and Chrome */
    -o-transition: all ease-in-out var(--transition-time); /* Opera */
    -ms-transition: all ease-in-out var(--transition-time); /* Explorer 10 */
}

.pagetitle {
    margin: 0 auto 0 auto;
}

.logininputbox {
    background-color: aquamarine;
    min-height: 25px;
    max-height: 100px;
    min-width: 25em;
    max-width: 33em;
}

.inputcontainer {
    margin: 0 auto 0 auto;
    text-align: center;
    width: auto;
    min-width: 500px;
    max-width: 75%;
    height: auto;
    border: 1px solid black;
}

/* Small screens */
@media only screen and (max-width:900px) {

    html {
        max-height: none;
        height: fit-content;
    }

    .titleLogo {
        height: 75px;
    }

    .maincontent {
        display: block;
        overflow-y: scroll;
    }


    .windowoptionsbar>h4{
        font-size: 11px;
    }

    .windowoptionsbar>button {
        font-size: 9px;
    }

    .dividerline {
        font-size: 12px;
    }
    
    .filetoolsbox>label {
        font-size: 11px;
    }

    .toolboxcontainer {
        width: 100%;
        height: auto;
    }

    .toolscontainer {
        overflow-y: scroll;
        margin: auto auto;
        max-width: none;
        text-align: center;
        height: 300px;
    }

    .editbox {
        width: 100%;
        max-width: none;
        margin: auto auto;
        max-height: none;
        height: auto;
    }

    .mainfooter {
        height: 4%;
        position: relative;;
        margin: auto 0 0 0;
    }

    .leftfooter {
        font-size: 12px;
    }

    .rightfooter {
        font-size: 10px;
    }
}

/* Normal screens */
@media only screen and (min-width: 900px)
{
    .maincontent {
        display: flex;
    }

    .windowoptionsbar>h4{
        font-size: 13px;
    }

    .windowoptionsbar>button {
        font-size: 11px;
    }

    .dividerline {
        font-size: 14px;
    }
    
    .filetoolsbox>label {
        font-size: 13px;
    }

    .editbox {
        margin: 0 auto;
    }

    .titleLogo {
        height: 100px;
    }
}

/* Very Large Screen screens */
@media only screen and (min-width:1900px) {

    .titleLogo {
        height: 125px;
    }

    .pips2header {
        min-height: 125px;   
    }
    
    .windowoptionsbar>h4{
        font-size: 18px;
    }

    .windowoptionsbar>button {
        font-size: 15px;
    }

    .dividerline {
        font-size: 22px;
    }
    
    .filetoolsbox>label {
        font-size: 22px;
    }

    .toolscontainer {
        max-width: 300px;
    }

    .toolboxcontainer {
        min-width: 300px;
    }

    .edittoolsbox>label, .edittoolsbox>div>label {
        font-size: 22px;
    }

    .footerbuttongroup>a {
        font-size: 19px;
    }

    .rightfooter {
        font-size: 19px;
    }

    .captiontoolsbox>label {
        font-size: 22px;
    }

    .imagetoolsbox>label {
        font-size: 22px;
    }

    .editbox {
        min-width: 1800px;
        margin: 0 auto 0 0;
    }

    .mainfooter {
        margin: auto 0 0 0;
        padding: 0;
        height: 5%;
    }

    .windowsidebar {
        min-width: 36px;
        max-width: 36px;
        max-height: none;
        padding: 0;
    }

    .windowsidebar>button {
        font-size: 15px;
    }

    .toolboxcontainer.closed {
        width: 36px !important;
        min-width: 0% !important;
    }    
}