:root {
    --main-bg-color: #0A2239;
    --primary-color: #1D84B5;
    --secondary-color: #89BFD2;
    --accent-color: #124A69;
    --contrast-color: #3E95A3;
}

html {
    width: 100%;
    overflow-y: hidden;
    background: var(--main-bg-color);
    color: var(--contrast-color);
}

.primarycolor {
    color: var(--primary-color);
}
.secondarycolor {
    color: var(--secondary-color);
}
.accentcolor {
    color: var(--accent-color);
}
.pieLogo {
    width: 20%;
    height: auto;
    min-width: 200px;
    max-width: 350px;
}

.usgsLogo {
    height: auto;
    min-width: 175px;
    max-width: 350px;
}

.pips2header {
    width: 100%;
    display: flex;
}

.leftcontainer {
    margin: auto auto auto 0;
    width: 33.3%;
}
.centercontainer {
    margin: auto auto auto 0;
    width: auto;
}
.rightcontainer {
    margin: auto 0 auto auto;
    width: 33.3%;
}

.mainfooter {
    display: flex;
    width: 100%;
    height: 5%;
    background: white;
    color: var(--accent-color);
}

.leftfooter {
    vertical-align: center;
    margin: auto auto auto 0;
    width: 33.3%;
    background: inherit;
    color: inherit;
}
.centerfooter {
    margin: auto;
    text-align: center;
    color: inherit;
    background: inherit;
    width: auto;
}
.rightfooter {  
    color: inherit;
    background: inherit;
    text-align: right;
    margin: auto 0 auto auto;
    width: 33.3%;
}
.toolbox {
    margin: 0 auto 0 auto;
    background: var(--secondary-color);
    color: black;
    border: 1px solid black;
    width: auto;
    height: auto;
    min-width: 33.3%;
    max-height: max-content;
}

.editbox {
    margin: 0 0 0 auto;
    background: var(--primary-color);
    color: var(--main-bg-color);
    width: auto;
    border: 2px dotted red;
    height: auto;
    min-width: 66.6%;
    max-width: 95%;
    max-height: max-content;
}

.trademark {
    height: 5px;
    width: auto;
    font-size: 10px;
    color: var(--secondary-color);
    float: right;
}

.pagetitle {
    margin: 0 auto 0 auto;
}

.logininputbox {
    background-color: aquamarine;
    min-height: 25px;
    max-height: 100px;
    min-width: 25em;
    max-width: 33em;
}

.inputcontainer {
    margin: 0 auto 0 auto;
    text-align: center;
    width: auto;
    min-width: 500px;
    max-width: 75%;
    height: auto;
    border: 1px solid black;
}

.btnLg {
    min-width: 100px;
    max-width: 300px;
    min-height: 25px;
    max-height: 75px;
}

.footerbox {
    background: coral;
    margin: auto 0 0 auto;
}